.input {
  border-radius: 4px 0 0 4px;
  /* max-width: 370px; */
  font-size: 18.8px;
  width: 100%;
}

.select {
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: nowrap;
}
