.about {
  padding-top: 40px;
}

.block {
  display: flex;
  gap: 30px;
}

.block:not(:last-child) {
  margin-bottom: 20px;
}

.img {
  max-width: 370px;
  max-height: 330px;
  object-fit: cover;
}

.title {
  margin-bottom: 15px;
  font-size: 32px;
}
