.nav {
  display: flex;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  margin-left: 5px;
}
.menu {
  display: flex;
  margin-left: auto;
}

.link {
  transition: all 0.25s ease-in-out;
}

.link:not(:last-child) {
  margin-right: 25px;
}
