.nav {
    display: flex;
    align-items: flex-end;
    }

.logo {
    display: flex;
    align-items: center;
  
}

.menu {
    display: flex;
    margin-left: auto;
}

.link:not(:last-child) {
    margin-right: 15px;

}