.container .header {
position: relative;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;

    border-bottom: 0.5px solid #eadec6;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #03162f;

    font-size: 22px;
    font-weight: 600;
}


